@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
.header{
  position: sticky;
  top:0;
  z-index: 2;
  display: flex;
  background-color: #48cae4;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

#title{
  font-family: 'Fasthand', cursive; 
}

